Repository EOSC-synergy/mypipline.sqaaas: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sqa:dev, test, check_links

sqa:dev:
  stage: test
  image:
    name: git.gfz-potsdam.de:5000/id2/software/services/fair/software-quality-assurance/software-quality-assurance:latest
    entrypoint:
    - ''
  tags:
  - internal
  script:
  - sqa --repository_dir "$CI_PROJECT_DIR" -ol cli run -r -lli -lla -la -c

test:
  before_script:
  - pip install -U pip
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - poetry install
  stage: test
  script:
  - make test

check_links:
  stage: test
  image: ruby:2.7.2-slim-buster
  before_script:
  - gem install awesome_bot
  script:
  - awesome_bot --allow-redirect --allow-dupe `find . -name "*.md"`
  - awesome_bot --allow-redirect --allow-dupe `find . -name "*.rst"`

fix ci job trigger to run on master
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: test, check_links

Improve docs
  .gitignore
  Makefile
  docs/source/api.rst
  docs/source/conf.py
  docs/source/getting_started.rst
  docs/source/requirements.rst
  hifis_surveyval/__init__.py
  hifis_surveyval/core/dispatch.py
  hifis_surveyval/core/metadata.py
  hifis_surveyval/core/settings.py
  hifis_surveyval/core/util.py
  hifis_surveyval/hifis_surveyval.py
  hifis_surveyval/models/__init__.py
  hifis_surveyval/models/answer.py
  hifis_surveyval/models/question.py
  hifis_surveyval/plotting/__init__.py
  hifis_surveyval/plotting/matplotlib_plotter.py
  poetry.lock
  pyproject.toml
Due: sqa:dev, test, check_links

Resolve "Create getting started guide"
  .gitignore
  .sqa/apply_license/config.yml
  .sqa/check_credentials/gitleaks_config.toml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/source/_static/css/sphinx_rtd_theme.css
  docs/source/_static/images/logo.svg
  docs/source/_static/images/logo.svg.license
  docs/source/_static/logo.png
  docs/source/_static/logo.png.license
  docs/source/api.rst
  docs/source/conf.py
  docs/source/development.rst
  docs/source/development/docs.rst
  docs/source/development/getting_started.rst
  docs/source/development/make.rst
  docs/source/development/publishing.rst
  docs/source/index.rst
  docs/source/pages/api.rst
  docs/source/pages/development.rst
  docs/source/pages/getting_started.rst
  docs/source/requirements.rst
Due: sqa:dev, test, check_links

Add test cases, test fixtures and test config file for module settings
  tests/core/settings/conftest.py
  tests/core/settings/fixtures/hifis-surveyval-fixture.yml
  tests/core/settings/test_module_settings.py
Due: test

Refactor and refine test cases for module settings
  tests/core/settings/conftest.py
  tests/core/settings/fixtures/hifis-surveyval-config-file.yml
  tests/core/settings/test_module_settings.py
Due: test

Remove test cases that test module settings and refine the others
  tests/core/settings/test_module_settings.py
Due: test

Exclude CSV files from version control
  .gitignore
Due: none

Replace default branch names in CI configs with CI_DEFAULT_BRANCH variable
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/sqa.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: sqa:dev, test, check_links

Add License.md
  License.md
Due: check_links

Resolve "Follow-up from "add example script to init; redo internal structure to a more oo style""
  License.md
  hifis_surveyval/cli.py
  hifis_surveyval/core/dispatch.py
  hifis_surveyval/core/util.py
  hifis_surveyval/data_container.py
  hifis_surveyval/files/example_script.py
  hifis_surveyval/hifis_surveyval.py
  hifis_surveyval/models/answer_option.py
  hifis_surveyval/models/mixins/identifiable.py
  hifis_surveyval/models/mixins/yaml_constructable.py
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
  hifis_surveyval/models/translated.py
  poetry.lock
  pyproject.toml
  tests/core/settings/conftest.py
  tests/core/settings/test_module_settings.py
  tests/data_container/conftest.py
  tests/data_container/test_module_data_container.py
  tests/helper/csv_helper/csv_reader.py
  tests/helper/yaml_helper/yaml_reader.py
  tests/models/answer_option/conftest.py
  tests/models/answer_option/test_module_answer_option.py
  tests/models/question/conftest.py
  tests/models/question/test_module_question.py
  tests/models/question_collection/conftest.py
  tests/models/question_collection/test_module_question_collection.py
  tests/models/translated/conftest.py
  tests/models/translated/test_module_translated.py
Due: sqa:dev, test, check_links

Resolve "Add possibility for preprocessing data"
  .gitignore
  .sqa/list_used_licenses/config.yml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/pages/api.rst
  docs/source/pages/preprocessing.rst
  hifis_surveyval/cli.py
  hifis_surveyval/core/preprocess.py
  hifis_surveyval/core/settings.py
  hifis_surveyval/core/util.py
  hifis_surveyval/data_container.py
  hifis_surveyval/files/preprocess.py
  hifis_surveyval/models/question.py
  poetry.lock
  pyproject.toml
Due: sqa:dev, test, check_links

Add project URLs
  pyproject.toml
Due: sqa:dev, test

Add URL to the project documentation to pyproject.toml
  pyproject.toml
Due: sqa:dev, test

Publish docs on push to default branch
  .gitlab/ci/docs.gitlab-ci.yml
Due: none

Adapt file CHANGELOG to document changes made during developments
  CHANGELOG.md
Due: check_links

Resolve "Re-enable Access to survey data as pandas data frames"
  .gitignore
  CHANGELOG.md
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test, check_links

Increase version in file pyproject.toml to version 1.0.0
  CHANGELOG.md
  pyproject.toml
Due: sqa:dev, test, check_links

Fix: Loading YAML Metadata failed with type error
  hifis_surveyval/cli.py
Due: sqa:dev, test

Resolve "Parameter `preprocess` is undocumented"
  CHANGELOG.md
  hifis_surveyval/cli.py
  pyproject.toml
Due: sqa:dev, test, check_links

Change development status classifier to production/stable
  pyproject.toml
Due: sqa:dev, test

Resolve "Fix failing link check"
  .gitlab/ci/test.gitlab-ci.yml
  CHANGELOG.md
Due: test, check_links

Add section to file CONTRIBUTING to explain how to create a tag
  CONTRIBUTING.md
Due: check_links

Draft issue templates
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/documentation.md
Due: check_links

Add licenses for issue templates
  .gitlab/issue_templates/bug_report.md.license
  .gitlab/issue_templates/documentation.md.license
Due: none

Resolve "Enable DataContainer to compose a DataFrame from given IDs"
  docs/source/index.rst
  docs/source/pages/accessing_data.rst
  docs/source/pages/getting_started.rst
  hifis_surveyval/data_container.py
  hifis_surveyval/files/example_script.py
Due: sqa:dev, test, check_links

Resolve "additional required features for preprocessing"
  docs/source/pages/preprocessing.rst
  hifis_surveyval/data_container.py
  hifis_surveyval/files/example_script.py
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test, check_links

Bump surveyval version to 1.1.0, update dependency versions
  poetry.lock
  pyproject.toml
Due: sqa:dev, test

Add CHANGELOG entries for all changes made for new release v1.1.0
  CHANGELOG.md
Due: check_links

Downgrade flake8 dependency due to incompatibility with flakehell
  poetry.lock
  pyproject.toml
Due: sqa:dev, test

Resolve "Accept IETF language tags"
  hifis_surveyval/models/translated.py
Due: sqa:dev, test

Improve error handling
  hifis_surveyval/data_container.py
  hifis_surveyval/models/mixins/identifiable.py
  hifis_surveyval/models/mixins/yaml_constructable.py
Due: sqa:dev, test

formatting
  hifis_surveyval/cli.py
Due: sqa:dev, test

Specify encoding when importing (meta)data
  hifis_surveyval/cli.py
Due: sqa:dev, test

Resolve "Method constructing a series from a given question ID should set the name of the index column"
  hifis_surveyval/core/settings.py
  hifis_surveyval/data_container.py
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
  tests/core/__init__.py
  tests/core/settings/__init__.py
  tests/data_container/conftest.py
  tests/models/question/conftest.py
  tests/models/question/test_module_question.py
  tests/models/question_collection/test_module_question_collection.py
Due: sqa:dev, test

Fix concatenation of list of dataframes to one dataframe
  hifis_surveyval/data_container.py
Due: sqa:dev, test

Fix: DataContainer was initialized without settings
  hifis_surveyval/cli.py
Due: sqa:dev, test

Check if data file has a CSV suffix
  hifis_surveyval/cli.py
Due: sqa:dev, test

Move example preprocessing into separate file
  hifis_surveyval/files/example_preprocess.py
  hifis_surveyval/files/example_script.py
Due: sqa:dev, test

Add a way to directly access questions in a collection
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test

Path conditions:
  sqa:dev: any of: .gitlab/ci/sqa.gitlab-ci.yml, .sqa/**/*, hifis_surveyval/**/*, LICENSES/**/*, .gitlab-ci.yml, poetry.lock, pyproject.toml
  test: any of: .gitlab/ci/test.gitlab-ci.yml, hifis_surveyval/**/*, tests/**/*, .gitlab-ci.yml, Makefile, poetry.lock, pyproject.toml
  check_links: any of: **/*.md, **/*.rst, .gitlab/ci/test.gitlab-ci.yml, .gitlab-ci.yml
