Repository EOSC-synergy/mypipline.sqaaas: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sqa:dev, test, check_links

sqa:dev:
  stage: test
  image:
    name: git.gfz-potsdam.de:5000/id2/software/services/fair/software-quality-assurance/software-quality-assurance:latest
    entrypoint:
    - ''
  tags:
  - internal
  script:
  - sqa --repository_dir "$CI_PROJECT_DIR" -ol cli run -r -lli -lla -la -c

test:
  before_script:
  - pip install -U pip
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - poetry install
  stage: test
  script:
  - make test

check_links:
  stage: test
  image: ruby:2.7.2-slim-buster
  before_script:
  - gem install awesome_bot
  script:
  - awesome_bot --allow-redirect --allow-dupe `find . -name "*.md"`
  - awesome_bot --allow-redirect --allow-dupe `find . -name "*.rst"`

Update changelog for version 1.4.0
  CHANGELOG.md
Due: check_links

Release version 1.4.0
  pyproject.toml
Due: sqa:dev, test

Fix custom plot style template generation on init
  CHANGELOG.md
  hifis_surveyval/core/util.py
Due: sqa:dev, test, check_links

Resolve "Allow to configure the default plot style via configuration"
  CHANGELOG.md
  README.md
  hifis_surveyval/core/settings.py
  hifis_surveyval/hifis_surveyval.py
  hifis_surveyval/plotting/matplotlib_plotter.py
  hifis_surveyval/plotting/plotter.py
Due: sqa:dev, test, check_links

Release version 1.5.0
  CHANGELOG.md
  pyproject.toml
Due: sqa:dev, test, check_links

Fix style folder not properly being specified relatively
  CHANGELOG.md
  hifis_surveyval/core/util.py
Due: sqa:dev, test, check_links

Release version 1.5.1
  CHANGELOG.md
  pyproject.toml
Due: sqa:dev, test, check_links

Neda mods
  hifis_surveyval/core/settings.py
Due: sqa:dev, test

Resolve "Extend supported python versions to Python 3.10"
  .sqa/list_used_licenses/config.yml
  poetry.lock
  pyproject.toml
Due: sqa:dev, test

Add a motivation statement for the project to file README
  README.md
  pyproject.toml
Due: sqa:dev, test, check_links

Resolve "Provide a way to retrieve a list of all participant IDs"
  hifis_surveyval/data_container.py
Due: sqa:dev, test

Resolve "Implement shortcut to check if QuestionCollection fulfills mandatory property"
  .sqa/check_credentials/gitleaks_config.toml
  hifis_surveyval/models/mixins/mixins.py
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test

Resolve "Do not override preprocessing script on init command"
  hifis_surveyval/cli.py
  tests/test_cli.py
Due: sqa:dev, test

Add JePL file structure
  .sqa/config.yml
  .sqa/docker-compose.yml
  Jenkinsfile
Due: sqa:dev

Path conditions:
  sqa:dev: any of: .gitlab/ci/sqa.gitlab-ci.yml, .sqa/**/*, hifis_surveyval/**/*, LICENSES/**/*, .gitlab-ci.yml, poetry.lock, pyproject.toml
  test: any of: .gitlab/ci/test.gitlab-ci.yml, hifis_surveyval/**/*, tests/**/*, .gitlab-ci.yml, Makefile, poetry.lock, pyproject.toml
  check_links: any of: **/*.md, **/*.rst, .gitlab/ci/test.gitlab-ci.yml, .gitlab-ci.yml
