Repository EOSC-synergy/mypipline.sqaaas: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sqa:dev, test, check_links

.gitlab/ci/sqa.gitlab-ci.yml:

# hifis-surveyval
# Framework to help developing analysis scripts for the HIFIS Software survey.
#
# SPDX-FileCopyrightText: 2021 HIFIS Software <support@hifis.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

sqa:dev:
  stage: test
  image:
    name: "git.gfz-potsdam.de:5000/id2/software/services/fair/software-quality-assurance/software-quality-assurance:latest"
    entrypoint: [""]
  tags:
    - internal
  script:
    - sqa --repository_dir "$CI_PROJECT_DIR" -ol cli run -r -lli -lla -la -c
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - ".gitlab/ci/sqa.gitlab-ci.yml"
        - ".sqa/**/*"
        - "hifis_surveyval/**/*"
        - "LICENSES/**/*"
        - ".gitlab-ci.yml"
        - "poetry.lock"
        - "pyproject.toml"

sqa:production:
  stage: test
  image:
    name: "git.gfz-potsdam.de:5000/id2/software/services/fair/software-quality-assurance/software-quality-assurance:latest"
    entrypoint: [""]
  tags:
    - internal
  script:
    - sqa --repository_dir "$CI_PROJECT_DIR" run -r -lli -lla -la -c
  rules:
      - if: '$CI_COMMIT_BRANCH == "master"'
  artifacts:
    paths:
      - "QUALITY.md"

.gitlab/ci/test.gitlab-ci.yml:

# hifis-surveyval
# Framework to help developing analysis scripts for the HIFIS Software survey.
#
# SPDX-FileCopyrightText: 2021 HIFIS Software <support@hifis.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

test:
  before_script:
    - pip install -U pip
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  stage: test
  script:
    - make test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - ".gitlab/ci/test.gitlab-ci.yml"
        - "hifis_surveyval/**/*"
        - "tests/**/*"
        - ".gitlab-ci.yml"
        - "Makefile"
        - "poetry.lock"
        - "pyproject.toml"

check_links:
    stage: test
    image: ruby:2.7.2-slim-buster
    before_script:
        - gem install awesome_bot
    script:
        - awesome_bot --allow-redirect --allow-dupe `find . -name "*.md"`
        - awesome_bot --allow-redirect --allow-dupe `find . -name "*.rst"`
    rules:
      - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        changes:
          - "**/*.md"
          - "**/*.rst"
          - ".gitlab/ci/test.gitlab-ci.yml"
          - ".gitlab-ci.yml"

Improve error output when CSV data does not match the metadata
  hifis_surveyval/data_container.py
Due: sqa:dev, test

Resolve "Adapt file README and erase section in 'Quick Start Example: Run Analysis' about where to access Survey data"
  README.md
Due: check_links

Extract code into helper class to be reused in multiple test cases
  tests/helper/data_container_helper/__init__.py
  tests/helper/data_container_helper/data_container_loader.py
Due: test

Extract creation of series and dataframe objects into helper class
  tests/helper/data_structure_helper/__init__.py
  tests/helper/data_structure_helper/data_structure_creator.py
Due: test

Resolve "Test conversion of questions to DataFramen or Series - testing module question"
  .gitignore
  tests/models/question/conftest.py
  tests/models/question/fixtures/metadata-single-question-collection.yml
  tests/models/question/fixtures/test_data_for_module_question.csv
  tests/models/question/fixtures/test_data_for_module_question.csv.license
  tests/models/question/test_module_question.py
Due: test

Resolve "Test conversion of questions to DataFramen or Series - testing module question_collection"
  tests/models/question_collection/conftest.py
  tests/models/question_collection/fixtures/metadata-single-question-collection-three-questions.yml
  tests/models/question_collection/fixtures/test_data_for_module_question_collection.csv
  tests/models/question_collection/fixtures/test_data_for_module_question_collection.csv.license
  tests/models/question_collection/test_module_question_collection.py
Due: test

Resolve "Test conversion of questions to DataFramen or Series - testing module data_container"
  hifis_surveyval/data_container.py
  tests/data_container/conftest.py
  tests/data_container/test_module_data_container.py
Due: sqa:dev, test

Adapt file CHANGELOG and pyproject to release v1.1.1
  CHANGELOG.md
  pyproject.toml
Due: sqa:dev, test, check_links

Resolve "Split metadata YAML file up into one file per question collection"
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  hifis_surveyval/cli.py
  hifis_surveyval/core/settings.py
Due: sqa:dev, test, check_links

Various minor quality fixes
  .gitignore
  hifis_surveyval/cli.py
Due: sqa:dev, test

Adapt repository URL after cleanup of group hifis
  .gitlab/ci/test.gitlab-ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/source/pages/development.rst
  pyproject.toml
Due: sqa:dev, test, check_links

Resolve "Automate rewriting of the CSV data file header if Question Collection full IDs are missing the Question ID part"
  hifis_surveyval/core/settings.py
  hifis_surveyval/data_container.py
Due: sqa:dev, test

Develop first example script to access metadata and data
  .gitignore
  hifis_surveyval/files/scripts/example-01-accessing-data.py
Due: sqa:dev, test

Skip removing of answers if ID is not existing
  hifis_surveyval/models/question.py
Due: sqa:dev, test

Resolve "Values are all transformed to True if casted to bool when adding data to questions"
  hifis_surveyval/models/question.py
Due: sqa:dev, test

Replace Question IDs by _ (underscore) to use ANONYMOUS_QUESTION_ID
  hifis_surveyval/files/scripts/example-01-accessing-data.py
Due: sqa:dev, test

Replace underscore by slash in IDs mentioned in CSV data header
  README.md
  hifis_surveyval/core/settings.py
  hifis_surveyval/data_container.py
Due: sqa:dev, test, check_links

Prepare CHANGELOG and pyproject to release version v1.2.0-preview
  CHANGELOG.md
  pyproject.toml
Due: sqa:dev, test, check_links

Offer Getters for _text and _label in QuestionCollections, Questions and AnswerOptions
  hifis_surveyval/core/settings.py
  hifis_surveyval/data_container.py
  hifis_surveyval/models/answer_option.py
  hifis_surveyval/models/mixins/identifiable.py
  hifis_surveyval/models/mixins/mixins.py
  hifis_surveyval/models/mixins/uses_settings.py
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
  tests/data_container/conftest.py
  tests/data_container/test_module_data_container.py
  tests/models/answer_option/conftest.py
  tests/models/answer_option/test_module_answer_option.py
  tests/models/question/test_module_question.py
  tests/models/question_collection/test_module_question_collection.py
Due: sqa:dev, test

Use accessors for properties like _text_ and _label
  hifis_surveyval/files/scripts/example-01-accessing-data.py
Due: sqa:dev, test

Update .gitignore
  .gitignore
Due: none

Resolve "Descriptions in README regarding configuration file are out-dated"
  README.md
Due: check_links

NaN values need to be removed from group-by series before passing it as argument
  hifis_surveyval/core/util.py
  tests/core/util/__init__.py
  tests/core/util/conftest.py
  tests/core/util/fixtures/metadata-two-question-collections.yml
  tests/core/util/fixtures/test_data_for_module_util.csv
  tests/core/util/fixtures/test_data_for_module_util.csv.license
  tests/core/util/test_module_util.py
Due: sqa:dev, test

Aspect ratio of plots need to be customizable
  hifis_surveyval/plotting/matplotlib_plotter.py
Due: sqa:dev, test

Resolve "Prepare file CHANGELOG.md and version string in file pyproject.toml for releasing version v1.2.0"
  CHANGELOG.md
  pyproject.toml
Due: sqa:dev, test, check_links

Hotfix answer option full ids
  hifis_surveyval/models/answer_option.py
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test

Resolve "Introduce Python type hinting in example script 01 - accessing data"
  hifis_surveyval/files/scripts/example-01-accessing-data.py
Due: sqa:dev, test

Add accessor for the 'mandatory' property of Question
  hifis_surveyval/models/question.py
Due: sqa:dev, test

Introduce HasMandatory mixin and apply it to Question and Q-Collection
  hifis_surveyval/models/mixins/mixins.py
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test

Make Linter happy
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test

Add value property to AnswerOptions that provide an alternative representation
  hifis_surveyval/data_container.py
  hifis_surveyval/models/answer_option.py
  hifis_surveyval/models/answer_types.py
  hifis_surveyval/models/question.py
  tests/models/answer_option/test_module_answer_option.py
Due: sqa:dev, test

Fix broken link in documentation
  docs/source/pages/getting_started.rst
Due: check_links

Prepare CHANGELOG.md and pyproject.toml for release v1.3.0
  CHANGELOG.md
  pyproject.toml
Due: sqa:dev, test, check_links

Apply 2 suggestion(s) to 2 file(s)
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test

Improve formatting of long imports
  hifis_surveyval/models/question.py
  hifis_surveyval/models/question_collection.py
Due: sqa:dev, test

Add missing whitespace after `,`
  hifis_surveyval/models/question.py
Due: sqa:dev, test

Make linter happy
  hifis_surveyval/models/question.py
Due: sqa:dev, test

Make mandatory key optional in questions as well
  hifis_surveyval/models/question.py
Due: sqa:dev, test

Resolve "Add functionality to define custom plot styles for Matplotlib plots"
  .gitignore
  README.md
  hifis_surveyval/cli.py
  hifis_surveyval/core/util.py
  hifis_surveyval/files/style_template.mplstyle
  hifis_surveyval/files/style_template.mplstyle.license
  hifis_surveyval/plotting/matplotlib_plotter.py
  hifis_surveyval/plotting/plot_styles/report_style.mplstyle
  hifis_surveyval/plotting/plot_styles/report_style.mplstyle.license
  hifis_surveyval/plotting/plotter.py
Due: sqa:dev, test, check_links

Resolve "Check color-blind friendly and corporate-design compliant colors for plots"
  hifis_surveyval/plotting/matplotlib_color_map_parameters.py
  hifis_surveyval/plotting/matplotlib_plotter.py
Due: sqa:dev, test
